.container {
  display: flex;
  width: 100%;
  position: relative;
}

.sidebar {
  top: 0;
  height: 100vh;
  flex-shrink: 0;
  min-width: 22rem;
  position: sticky;
}

.main {
  background-color: var(--color-gray-50);
  display: flex;
  padding: 7.5rem;
  flex: 1;
  overflow-y: auto;
  flex-direction: column;
  gap: 2.5rem;
}
