.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.modalLoader {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.errorText {
  color: var(--color-red-600);
  margin-top: 0.5rem;
}
